[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
django = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
